<launch>

<group ns="sin_controller">

     <arg name="record" default="false"/>


 
    <node pkg="rosserial_python" type="serial_node.py" name="serial_joint_node">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
        <param name="respawn" value="true"/>
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_motor_node">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="115200"/>
        <param name="respawn" value="true"/>
    </node>


    <node pkg="rosserial_python" type="serial_node.py" name="serial_tension_node">
        <param name="port" value="/dev/ttyACM2"/>
        <param name="baud" value="115200"/>
        <param name="respawn" value="true"/>
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_linear_node">
        <param name="port" value="/dev/ttyACM3"/>
        <param name="baud" value="115200"/>
        <param name="respawn" value="true"/>
    </node>

        <!-- command that generates SIN pattern -->
    <group >
        <node pkg="robot_snake_10" name="homing_controller" type="homing_controller" output="screen"/>
	    <node pkg="robot_snake_10" name="controller_v10_4" type="controller_v10_4" output="screen"/>  
    </group>
    
    <group if="$(arg record)">
        <!-- stuff that will only be evaluated if foo is true -->
        <node pkg="rosbag" type="record" name="my_rosbag" output="screen" args="-a -o $(find robot_snake_10)/bags/"/>
    </group>

    </group>
</launch>